.main-markdown {
    --n-bezier: var(--cubic-bezier-ease-in-out);
    --n-line-height: var(--line-height);

    a {
        --n-text-color: var(--primary-color);
        cursor: pointer;
        transition: color 0.3s var(--n-bezier),
            text-decoration-color 0.3s var(--n-bezier);
        text-decoration-color: var(--n-text-color);
        color: var(--n-text-color);
        word-wrap: break-word;
    }

    blockquote {
        --n-bezier: var(--cubic-bezier-ease-in-out);
        --n-font-size: 14px;
        --n-line-height: 1.6;
        --n-prefix-color: var(--border-color);
        --n-text-color: var(--text-color-2);
        font-size: var(--n-font-size);
        line-height: var(--n-line-height);
        margin: 0;
        margin-top: 12px;
        margin-bottom: 12px;
        box-sizing: border-box;
        padding-left: 12px;
        border-left: 4px solid var(--n-prefix-color);
        color: var(--n-text-color);
        transition: color 0.3s var(--n-bezier), border-color 0.3s var(--n-bezier);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        --n-bar-color: var(--success-color);
        --n-font-weight: 500;
        --n-margin: 28px 0 18px 0;
        --n-text-color: var(--text-color-1);
        --n-bezier: var(--cubic-bezier-ease-in-out);
        padding-left: 0;
        position: relative;
        font-size: var(--n-font-size);
        font-weight: var(--n-font-weight);
        margin: var(--n-margin);
        transition: color 0.3s var(--n-bezier);
        color: var(--n-text-color);

        &:first-child {
            margin-top: 0;
        }

        &::before {
            left: calc(-1 * var(--n-prefix-width));
            background-color: var(--n-bar-color);
            content: "";
            width: var(--n-bar-width);
            border-radius: calc(var(--n-bar-width) / 2);
            transition: background-color 0.3s var(--n-bezier);
            top: 0;
            bottom: 0;
            position: absolute;
        }
    }

    h1 {
        --n-font-size: 30px;
        --n-margin: 28px 0 20px 0;
        --n-bar-width: 4px;
        --n-prefix-width: 16px;
    }

    h2 {
        --n-font-size: 22px;
        --n-margin: 28px 0 20px 0;
        --n-bar-width: 4px;
        --n-prefix-width: 16px;
    }

    h3 {
        --n-font-size: 22px;
        --n-margin: 28px 0 20px 0;
        --n-bar-width: 4px;
        --n-prefix-width: 16px;
    }

    h4 {
        --n-font-size: 16px;
        --n-bar-width: 3px;
        --n-prefix-width: 12px;
    }

    h5 {
        --n-font-size: 16px;
        --n-bar-width: 3px;
        --n-prefix-width: 12px;
    }

    h6 {
        --n-font-size: 16px;
        --n-bar-width: 3px;
        --n-prefix-width: 12px;
    }

    ul {
        --n-li-margin: 0.25em 0 0 0;
        --n-ol-padding: 0 0 0 2em;
        --n-ul-padding: 0 0 0 2em;
        --n-text-color: var(--text-color-2) font-size: var(--n-font-size);
        padding: var(--n-ul-padding);

        & li {
            transition: color 0.3s var(--n-bezier);
            line-height: var(--n-line-height);
            margin: var(--n-li-margin);
            margin-bottom: 0;
            color: var(--n-text-color);
        }
    }

    // code
    code {
        --n-text-color: var(--text-color-2) --n-font-weight-strong: 500;
        --n-font-famliy-mono: v-mono, SFMono-Regular, Menlo, Consolas, Courier, monospace;
        --n-code-border-radius: 2px;
        --n-code-text-color: var(--text-color-2);
        --n-code-color: var(--code-color);
        --n-code-border: 1px solid #0000;

        line-height: 1.4;
        display: inline-block;
        font-family: var(--n-font-famliy-mono);
        transition: color .3s var(--n-bezier), border-color .3s var(--n-bezier), background-color .3s var(--n-bezier);
        box-sizing: border-box;
        padding: 0.05em 0.35em 0 0.35em;
        border-radius: var(--n-code-border-radius);
        font-size: 1em;
        color: var(--n-code-text-color);
        background-color: var(--n-code-color);
        border: var(--n-code-border);
    }

    p {
        --n-margin: 16px 0 16px 0;
        --n-text-color: var(--text-color-2) box-sizing: border-box;
        transition: color .3s var(--n-bezier);
        margin: var(--n-margin);
        font-size: var(--n-font-size);
        line-height: var(--n-line-height);
        color: var(--n-text-color);
    }

    // single line <code>
    ul + p {
        padding-left: 2em;
    }
}